[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
fastapi = "*"
uvicorn = "*"
mongoengine = "*"
fastapi-utils = "*"
jwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
isort = "*"
black = "*"

[requires]
python_version = "3.9"
